.container--mainContent {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: auto;
    border-radius: 15px;
    padding: 30px;
    gap: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background-color: var(--white);
}

.title-mainContent {
    display: flex;
    width: 90%;
    gap: 15px;
}

.title-mainContent h1 {
    font-size: 50px;
    color: var(--darkPurple)
}

@media screen and (max-width: 950px){
    .container--mainContent {
        width: 330px;
    }
}